:root {
    --font-principal: "poppins";
    --font-teste: "inter";
    --cor-de-fundo: #b8b7b6;
    --cor-branco: #ffffff;
    --cor-cinza: #878684;
    --cor-preta: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-teste);
    font-weight: 400;
    background-color: var(--cor-de-fundo);
}

.header {
    background-color: var(--cor-preta);
    padding: 2em 0 1em;
    text-align: center;
}

.header__titulo {
    font-size: 34px;
    font-weight: 700;
    padding-bottom: .3em;
    color: var(--cor-branco);
}

.header__texto {
    color: var(--cor-branco);
    
}

#container__1 {
    margin-top: 5em;
}

.container {
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
    margin-bottom: 35vh;
}

.container__lendas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    padding-right: 4em;
}

.lenda__nome {
    font-size: 40px;
    font-weight: 700;
}

 .lenda__texto {
    font-size: 18px;
    font-family: var(--font-teste);
 }

.foto-infos {
    height: 350px;
    width: 350px;
    border-radius: 12px;
}

.infos__item {
    padding: 1.5em 0;
}
